html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    width: 100%;
    font-size: 12px;


}

.top-of-nav {
    padding: 10px;
    background-color: rgb(98, 8, 172);
    color: white;
    text-align: center;
    width: 100%;
}

.top-of-nav:hover{
    padding:16px ;
}



nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(22, 24, 34);
    overflow: hidden;

    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.26);
    padding: 3px 25px;

}

h1 {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links {
    display: flex;
    gap: 10px;
    font-size: 1rem;

    cursor: pointer;
}

.gamming-pc-link {

    position: relative;
}

/* .gamming-pc {
    position: absolute;
   top: -90px;
    visibility: hidden;
    bottom: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    color: purple;
}
.gamming-pc-link:hover + .gamming-pc {
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease-in-out;
} */
.search-icon {
    display: none;
    filter: brightness(70%);
}

.search-bar {
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px;

}

.search-bar input {
    width: 66px;
    transition: 0.25s ease-in-out;
    background-color: white;
    color: black;
    outline: none;
    border-radius: 20px;
    padding: 6px 8px;
}

.search-bar input:hover {
    transition: 0.25s ease-in-out;
    width: 180px;

}

.software-link {

    position: relative;
}

.software {
    position: absolute;
    top: 135px;
    width: 300px;
    display: none;
    bottom: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.software-link:hover+.software {
    opacity: 1;
    display: block;
    transition: 0.5s ease-in-out;
}

.product-link {
    position: relative;
}


.product {
    position: absolute;
    top: 135px;
    display: none;
    bottom: 0;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    background-color: white;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.product-link:hover+.product {
    opacity: 1;
    display: block;
    transition: 0.5s ease-in-out;
}

#nlink {
    color: white;

    padding: 10px 15px;
    transition: 0.1 ease-in-out;
}

#nlink:hover {

    padding: 50px 15px;

    transition: ease-in-out;
    background-color: rgb(98, 8, 172);
    color: white;
}

#nav-icon {
    object-fit: cover;
    width: 30px;
    height: 30px;

}

.nav-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    width: 400px;

    padding: 10px 20px;
}

button {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    transition: 0.25s ease-in-out;
    color: white;
    background-color: rgb(98, 8, 172);
}

button:hover {
    padding: 5px 20px;
    transition: 0.25s ease-in-out;
}



/* HERO SECTION */


.hero-sec {
    height: 570px;
    width: max-content;
    background-color: white;
    font-family: pt+sans, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    
}

.text-cont {
    padding: 0px 10px;


}


.title-desc {
    color: rgb(49, 48, 48);
    font-size: 4rem;
    font-weight: 600;
}

/* .text-cont h3{
    font-size: 50px;
    animation: in-animation 0.25s ease-in-out;
} */
.text-cont h4 {
    font-weight: 900;
 overflow: hidden;
    white-space: nowrap;
    border-radius: 1px solid;
    animation: typing 0.5s steps(50) forwards ,
    
    blink 1s step-end infinite;
    /* animation: in-animation 0.25s ease-in-out ; */
    transition: 0.2s ease-in-out;
    color: rgb(98, 8, 172);
    
   /* background-clip: text;
  -webkit-text-fill-color: transparent;

    background-image: linear-gradient(to right bottom,grey 45%,white 10%,grey 50% ); */
    font-family: roboto;
    font-size: 4rem;
}

.name:hover {
    transition: 0.2s ease-in-out;
    /* background-color: rgb(98, 8, 172); */
    /* border-bottom: 2px solid purple; */
    /* color: white; */
}

.text-cont p {
    animation: in-animation 0.5s ease-in-out;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    padding: 5px;
}

.title-para {
    font-size: 18px;
    color: rgb(49, 48, 48);
}

.text-cont>p:hover {
    transition: 0.2s ease-in-out;
    color: white;
    background-color: rgb(98, 8, 172);
}

.hero-img img {
    animation: in-animation 0.75s ease-in-out ;
    height: 450px;
    width: 450px;
    transition: 0.25s ease-in-out;
    object-fit: cover;
    filter: drop-shadow(5px 15px 20px rgba(0, 0, 0, 0.5));

}

.hero-img img:hover {
    transition: 0.25s ease-in-out;
    height: 480px;
    width: 480px;
}

hr {
    color: gray;

}

/* GAMMING */
.gamming-pc {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 65%;
    margin-top: 40px;
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gamming-pc p {
    font-size: 1rem;
    font-family: roboto, sans-serif;
    text-align: center;
    margin-top: 25px;
}

.gp-heading {
    color: rgb(49, 48, 48);
    font-family: roboto, sans-serif;
    text-align: center;

}

.explore-gpc {

    padding: 10px 20px;
    width: 300px;
    font-size: 1rem;
    margin: 50px;
}

.gamming-img-cont {
    display: flex;
    width:100%;
    gap: 10px;
    
    justify-content: space-evenly;
    margin: 10px ;
    margin-bottom: 100px;
}

.gamming-im {
  animation: appear linear;
    animation-timeline: view();

    animation-range: entry 0% cover 45%;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    width: 200px;
    /* background-image: linear-gradient(to right bottom,black,grey,black); */
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}
.gamming-im img{
    object-fit: cover;
    width: 200px;
    /* background-image: linear-gradient(to right bottom,black,grey,black); */
    height: 200px;
    filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.75));
}
.gamming-im:hover {
    filter: brightness(80%);
}

/* PRODUCT */

.products-cont{
padding: 30px;
display: flex;
justify-content:center;
align-items:center;
flex-wrap: wrap;
gap: 20px;
margin: 20px;
}
.product-box{
       animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
    padding: 20px;
    height: 200px;
    width: 160px;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    
}
.product-description{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding:30px 70px;
  
}
.product-description h1{
    color: black;
    font-size: 2rem;
}
.product-description p{
    font-size: 1rem;
}
.product-box:hover{
    border: 1px solid rgb(212, 209, 209) ;
    box-shadow: none;
    transform: translateZ(2px);

}
.product-box img{
    height: 120px;
    width: 120px;
    object-fit: cover;
}


/* FOOTER */

footer {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    color: white;
    align-items: center;
}

footer h3 {
    font-size: 4rem;
    font-weight: 700;
}



/* ANIMATION */

@keyframes in-animation {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes appear{
from{
opacity: 0;
scale: 0.5;
}
to{
opacity: 1;
scale: 1;
}
}

.type-parrent{
    display: flex;
    /* justify-content: left; */
}

.type-parrent:hover{
    transition: 0.5s ease-in-out;
    border-left: 8px solid purple;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}